<launch>
  <!-- Set up the serial connection to the arduino -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" >
    <param name="_port" value="/dev/ttyACM0" />
  </node>

  <!-- Initialize the communication with the rest of the system -->
  <node name="checkers_arm" pkg="checkers_arm" type="arm.py" output="screen" />

</launch>
